<h1>Welcome to meet Injection</h1>

<div>
  <h2>SQL</h2>
  <ul>
    <li>
      <a href="/inject/sql/unsafe">Injection</a>
    </li>
    <li>
      <a href="/inject/sql/safe">No Injection</a>
    </li>
  </ul>
</div>

<div>
  <h2>NoSQL</h2>
  <ul>
    <li>
      <a href="/inject/nosql/unsafe">Injection</a>
    </li>
    <li>
      <a href="/inject/nosql/safe">No Injection</a>
    </li>
  </ul>
</div>
