<!-- <link href="/prism/prism.css" rel="stylesheet" />
<script src="/prism/prism.js"></script> -->
<link href="/highlight/tomorrow-night-blue.css" rel="stylesheet" />
<script src="/highlight/highlight.pack.js"></script>
<script src="/esapi/esapi.js"></script>
<script src="/esapi/resources/i18n/ESAPI_Standard_en_US.properties.js"></script>
<script src="/esapi/resources/Base.esapi.properties.js"></script>
<script>
  hljs.initHighlightingOnLoad();

  org.owasp.esapi.ESAPI.initialize();
  // Here you have access to the $ESAPI object and can do
  // $ESAPI.encoder().encodeForHTML('<p>This is a test</p>');
</script>
