<div>
  <h2 style="color: #4e57cf;">Below is the source above:</h2>
  <pre><code class="language-html" id="exposure"></code></pre>
  <script>
    const demoArea = document.getElementById('demo')
    if (demoArea) {
      console.log(demoArea.innerHTML)
      document.getElementById('exposure').innerText = demoArea.innerHTML
    }
  </script>
</div>
